html
  head
    meta(charset='UTF-8')
    title Document
    link(rel='stylesheet', type='text/css', href='/stylesheets/basic.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='/javascripts/create.js')
  body
    table
      tr
        th ID
        th PW
      each val in data
        tr
          td= val.username
          td= val.password
