html
  head
    meta(charset='UTF-8')
    title Document
    link(rel='stylesheet', type='text/css', href='/stylesheets/basic.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='/javascripts/create.js')
  body
    #survey
      | TITLE : 
      input(type='text')
    #add(style='width:600px; height:130px; border:1px solid black;')
      | ADD
      div
        ul
          li(onclick='addSingleSelect()') single select
          li(onclick='addMultiSelect()') multi select
          li(onclick='addShortText()') short text
          li(onclick='addLongText()') long text
    div(onclick='writeSubmit()')
      | SAVE
    #template
      .SingleSelect
        input(type='text', value='Edit')
        ul
          li(onclick='addSingleOption(this)') ADD
        input(type='checkbox')
        input(type='button', value='X', onclick='removeQue(this)')
      .MultiSelect
        input(type='text', value='Edit')
        ul
          li(onclick='addMultiOption(this)') ADD
        input(type='checkbox')
        input(type='button', value='X', onclick='removeQue(this)')
      .ShortText
        input(type='text', value='Edit')
        input(type='text')
        input(type='checkbox')
        input(type='button', value='X', onclick='removeQue(this)')
      .LongText
        input(type='text', value='Edit')
        textarea(id='', cols='30', rows='10')
        input(type='checkbox')
        input(type='button', value='X', onclick='removeQue(this)')
