html
  head
    meta(charset='UTF-8')
    title Document
    link(rel='stylesheet', type='text/css', href='/stylesheets/basic.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/create.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='/javascripts/create.js')
  body
    #survey
      | TITLE : 
      input(type='text')
    #add
      | ADD
      div
        ul
          li(onclick='addSingleSelect()') single select
          li(onclick='addMultiSelect()') multi select
          li(onclick='addShortText()') short text
          li(onclick='addLongText()') long text
    #save(onclick='writeSubmit()')
      | SAVE
    #template
      .SingleSelect
        input.que(type='text', value='Edit')
        ul
          li(onclick='addSingleOption(this)') ADD
        input.must(type='checkbox')
        input.del(type='button', value='X', onclick='removeQue(this)')
      .MultiSelect
        input.que(type='text', value='Edit')
        ul
          li(onclick='addMultiOption(this)') ADD
        input.must(type='checkbox')
        input.del(type='button', value='X', onclick='removeQue(this)')
      .ShortText
        input.que(type='text', value='Edit')
        input(type='text')
        input.must(type='checkbox')
        input.del(type='button', value='X', onclick='removeQue(this)')
      .LongText
        input.que(type='text', value='Edit')
        textarea(id='', cols='30', rows='10')
        input.must(type='checkbox')
        input.del(type='button', value='X', onclick='removeQue(this)')
