html
  head
    meta(charset='UTF-8')
    title NodeSurvey
    link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
  body
    h1 Welcome to NodeSurvey
    a#register(href='/register') Get started for free
    br
    a#login(href='/login') Already has account?
