html
  head
    meta(charset='UTF-8')
    title NodeSurvey
    link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
  body
    h1 NodeSurvey에 오신것을 환영합니다.
    a#register(href='/register') 무료로 시작하기
    br
    a#login(href='/login') 로그인
