html
  head
    meta(charset='UTF-8')
    title Document
    link(rel='stylesheet', type='text/css', href='/stylesheets/basic.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='/javascripts/create.js')
  body
    div
      a(href='/logout') LOGOUT
      br
      a(href='/create') Create NEW survey
    hr
    table
      tr
        th Title
        th url
        th Answers
        th stat
      each val in data
        tr
          td= val.title
          td
            a(href='http://127.0.0.1:3000/survey/'+val.url)= href='http://127.0.0.1:3000/survey/'+val.url
          td= val.ans
          th
            a(href='http://127.0.0.1:3000/stat/'+val.url) VIEW