body {
    text-align: center;
    font-family: LLCircularWeb-Bold, sans-serif;
}

table {
    margin-top: 10px;
    width: 100%;
}

table, td, tr {
    border-collapse: collapse;
    border: solid 1px black;

    font-size: 20px;
}

td {
    text-align: center;
    height: 50px;
    padding: 7px 7px;
}

tr td:nth-child(1) {
    width: 13%;
}

tr td:nth-child(n+5) {
    width: 70px;
}

div {
    width: 100%;
    height: 60px;

    background-size: 60px;
    background: url('/images/plus.png') no-repeat center;
    opacity: 0.2;
}

#create {
    height: 60px;
    text-align: center;
    width: 300px;
    display: block;
    text-decoration: none;
    font-size: 20px;

    line-height: 60px;

    opacity: 1;

    margin: -60px auto 0;
}

a#logout {
    text-decoration: none;
    display: block;

    width: 120px;
    height: 60px;

    border-radius: 5px;

    background-color: #D45252;

    position: absolute;
    top: 5px;
    right: 5px;

    color: white;

    text-align: center;

    line-height: 60px;
    opacity: 1;
}

a#logout:hover {
    background-color: #F34444;
}


