body{
	text-align: center;
	font-family: LLCircularWeb-Bold,sans-serif;
}

div{
	margin: 0 auto;
}

div#save{
	text-decoration: none;
	display: block;
	
	width: 240px;
	height: 50px;
	
	border: solid 1px #67ab49;
	border-radius: 10px;
	
	margin: 0 auto;
	margin-top: 10px;
	
	line-height: 50px;
}

div#save{
	background-color: #67ab49;
	color: white;
	font-size: 18px;
}

div#save:hover{
	background-color: #14892c;
}